# Training Car Prediction Model

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
# Load the dataset
df = pd.read_csv('car45_data.csv')

In [3]:
# Checking the data head
df.head()

,Unnamed: 0,car_id,description,amount,region,make,model,year_of_man,color,condition,...,bought_cond,trim,drive_train,reg_city,seat,num_cylinder,horse_power,body_build,fuel_type,transmission
0,0,5IQTDBTYmvK1tJwhdvGJfESJ,Lexus ES 350 FWD 2013 Red,12937500,"Lagos State, Ikeja",Lexus,ES,2013,Red,Foreign Used,...,Imported,350 FWD,Front Wheel,NaN,5,6.0,268.0,Sedan,Petrol,Automatic
1,1,zpZUGomoVXuKk9UFa8j8moC9,Land Rover Range Rover 2012 White,6750000,"Abuja (FCT), Garki 2",Land Rover,Range Rover,2012,White,Nigerian Used,...,Registered,NaN,NaN,NaN,NaN,NaN,NaN,SUV,Petrol,Automatic
2,2,a6ShZXOX4KtY6IBGJIcF3Cxk,Toyota Sequoia 2018 Black,50625000,"Lagos State, Lekki",Toyota,Sequoia,2018,Black,Foreign Used,...,Imported,NaN,NaN,NaN,NaN,NaN,NaN,SUV,Petrol,Automatic
3,3,CciPNDN6vhhQQI1FTQHAbfxi,Toyota Corolla 2007 Green,3600000,"Abuja (FCT), Lugbe District",Toyota,Corolla,2007,Green,Nigerian Used,...,Registered,NaN,NaN,ABUJA,NaN,NaN,NaN,NaN,Petrol,Automatic
4,4,bvwd5LDMx6mIYpVa6Uhi2jqJ,Mercedes-Benz M Class 2005 Silver,3262500,"Lagos State, Isolo",Mercedes-Benz,M Class,2005,Silver,Nigerian Used,...,Imported,NaN,NaN,ABUJA,NaN,NaN,NaN,NaN,Petrol,Automatic

In [4]:
# Checking more information on the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2894 entries, 0 to 2893
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2894 non-null   int64
 1   car_id        2894 non-null   object
 2   description   2894 non-null   object
 3   amount        2894 non-null   int64
 4   region        2894 non-null   object
 5   make          2894 non-null   object
 6   model         2894 non-null   object
 7   year_of_man   2894 non-null   int64
 8   color         2893 non-null   object
 9   condition     2894 non-null   object
 10  mileage       2829 non-null   float64
 11  engine_size   2846 non-null   float64
 12  selling_cond  2877 non-null   object
 13  bought_cond   2877 non-null   object
 14  trim          394 non-null    object
 15  drive_train   361 non-null    object
 16  reg_city      1669 non-null   object
 17  seat          345 non-null    object
 18  num_cylinder  369 non-null    float64
 19  horse_power   338 non-null    float64
 20  body_build    1257 non-null   object
 21  fuel_type     2876 non-null   object
 22  transmission  2893 non-null   object
dtypes: float64(4), int64(3), object(16)
memory usage: 520.1+ KB

In [5]:
# Checking for null values
df.isnull().sum()

Unnamed: 0         0
car_id             0
description        0
amount             0
region             0
make               0
model              0
year_of_man        0
color              1
condition          0
mileage           65
engine_size       48
selling_cond      17
bought_cond       17
trim            2500
drive_train     2533
reg_city        1225
seat            2549
num_cylinder    2525
horse_power     2556
body_build      1637
fuel_type         18
transmission       1
dtype: int64

In [6]:
df.columns

Index(['Unnamed: 0', 'car_id', 'description', 'amount', 'region', 'make',
       'model', 'year_of_man', 'color', 'condition', 'mileage', 'engine_size',
       'selling_cond', 'bought_cond', 'trim', 'drive_train', 'reg_city',
       'seat', 'num_cylinder', 'horse_power', 'body_build', 'fuel_type',
       'transmission'],
      dtype='object')

In [7]:
# Checking for duplicate values
df.duplicated().sum()

np.int64(0)

In [8]:
# Checking statitical summary of the data
df.describe()

,Unnamed: 0,amount,year_of_man,mileage,engine_size,num_cylinder,horse_power
count,2894.000000,2.894000e+03,2894.000000,2.829000e+03,2846.000000,369.000000,338.000000
mean,2174.766413,4.986147e+06,2007.782654,2.433475e+05,3079.524596,5.411924,216.816568
std,1507.677422,6.177222e+06,4.565697,1.416721e+06,3753.377371,1.301533,69.989033
min,0.000000,5.775000e+05,1988.000000,0.000000e+00,25.000000,4.000000,67.000000
25%,728.250000,2.166000e+06,2005.000000,1.300590e+05,2300.000000,4.000000,158.000000
50%,1641.500000,3.203125e+06,2007.000000,1.913980e+05,3000.000000,6.000000,225.000000
75%,3617.750000,5.250000e+06,2011.000000,2.659880e+05,3500.000000,6.000000,269.750000
max,4352.000000,9.870000e+07,2023.000000,7.402675e+07,158713.000000,8.000000,477.000000

In [9]:
# all column names
df.columns

Index(['Unnamed: 0', 'car_id', 'description', 'amount', 'region', 'make',
       'model', 'year_of_man', 'color', 'condition', 'mileage', 'engine_size',
       'selling_cond', 'bought_cond', 'trim', 'drive_train', 'reg_city',
       'seat', 'num_cylinder', 'horse_power', 'body_build', 'fuel_type',
       'transmission'],
      dtype='object')

In [10]:
# Exploring columns to drop
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,car_id,description,amount,region,make,model,year_of_man,color,condition,mileage,engine_size,selling_cond,bought_cond,trim,drive_train,reg_city,seat,num_cylinder,horse_power,body_build,fuel_type,transmission
0,0,5IQTDBTYmvK1tJwhdvGJfESJ,Lexus ES 350 FWD 2013 Red,12937500,"Lagos State, Ikeja",Lexus,ES,2013,Red,Foreign Used,272474.0,3500.0,Imported,Imported,350 FWD,Front Wheel,NaN,5,6.0,268.0,Sedan,Petrol,Automatic
1,1,zpZUGomoVXuKk9UFa8j8moC9,Land Rover Range Rover 2012 White,6750000,"Abuja (FCT), Garki 2",Land Rover,Range Rover,2012,White,Nigerian Used,102281.0,5000.0,Registered,Registered,NaN,NaN,NaN,NaN,NaN,NaN,SUV,Petrol,Automatic
2,2,a6ShZXOX4KtY6IBGJIcF3Cxk,Toyota Sequoia 2018 Black,50625000,"Lagos State, Lekki",Toyota,Sequoia,2018,Black,Foreign Used,127390.0,5700.0,Imported,Imported,NaN,NaN,NaN,NaN,NaN,NaN,SUV,Petrol,Automatic
3,3,CciPNDN6vhhQQI1FTQHAbfxi,Toyota Corolla 2007 Green,3600000,"Abuja (FCT), Lugbe District",Toyota,Corolla,2007,Green,Nigerian Used,139680.0,1800.0,Registered,Registered,NaN,NaN,ABUJA,NaN,NaN,NaN,NaN,Petrol,Automatic
4,4,bvwd5LDMx6mIYpVa6Uhi2jqJ,Mercedes-Benz M Class 2005 Silver,3262500,"Lagos State, Isolo",Mercedes-Benz,M Class,2005,Silver,Nigerian Used,220615.0,3500.0,Registered,Imported,NaN,NaN,ABUJA,NaN,NaN,NaN,NaN,Petrol,Automatic

### Data Cleaning and Exploration

In [11]:
# Checking why num_of_seats column is an object
df['seat'].unique()

array(['5', nan, '7', '8', '4', '6', '3', '2', '5 or 7', '7 or 8'],
      dtype=object)

In [12]:
# Checking how many seat columns has '5 or 7', '7 or 8'
df['seat'].value_counts()

seat
5         264
7          56
8          12
4           5
6           3
3           2
2           1
5 or 7      1
7 or 8      1
Name: count, dtype: int64

In [13]:
# dropping the '5 or 7', '7 or 8' values since only one row exist for each
df = df[~df['seat'].isin(['5 or 7', '7 or 8'])]

In [14]:
# Changing the 'seat' column to numeric while skipping missing values
df['seat'] = pd.to_numeric(df['seat'], errors='coerce')

In [15]:
# dropping unnecessary columns
cols_to_drop = ['Unnamed: 0', 'car_id', 'trim', 'description', 'trim', 'drive_train', 'reg_city',
       'seat', 'num_cylinder', 'horse_power', 'body_build']

In [16]:
df.drop(columns=cols_to_drop, inplace=True)

In [17]:
rename_cols = {
    'amount': 'car_price',
    'make': 'manufacturer',
    'model': 'car_model',
    'year_of_man': 'manufacturing_year',
    'condition': 'car_condition',
    'mileage': 'mileage_km'
    }

df.rename(columns=rename_cols, inplace=True)

In [18]:
df.isnull().sum()

car_price              0
region                 0
manufacturer           0
car_model              0
manufacturing_year     0
color                  1
car_condition          0
mileage_km            65
engine_size           48
selling_cond          17
bought_cond           17
fuel_type             18
transmission           1
dtype: int64

In [19]:
df.describe()

          car_price  manufacturing_year    mileage_km    engine_size
count  2.892000e+03         2892.000000  2.827000e+03    2844.000000
mean   4.972894e+06         2007.775588  2.434875e+05    3079.580520
std    6.151255e+06            4.559054  1.417212e+06    3754.673343
min    5.775000e+05         1988.000000  0.000000e+00      25.000000
25%    2.158125e+06         2005.000000  1.301480e+05    2300.000000
50%    3.196000e+06         2007.000000  1.917070e+05    3000.000000
75%    5.250000e+06         2010.250000  2.661210e+05    3500.000000
max    9.870000e+07         2023.000000  7.402675e+07  158713.000000

In [20]:
df.head(2)

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission
0,12937500,"Lagos State, Ikeja",Lexus,ES,2013,Red,Foreign Used,272474.0,3500.0,Imported,Imported,Petrol,Automatic
1,6750000,"Abuja (FCT), Garki 2",Land Rover,Range Rover,2012,White,Nigerian Used,102281.0,5000.0,Registered,Registered,Petrol,Automatic

In [21]:
# Change all text columns to lowercase
text_cols = df.select_dtypes(include=['object']).columns
for col in text_cols:
    df[col] = df[col].str.lower()

#### Exploring column by column

df['region'].unique()

In [22]:
# Make region copy to use for feature enginering and call it car city
df['car_city'] = df['region'].copy()
df.head()

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission,car_city
0,12937500,"lagos state, ikeja",lexus,es,2013,red,foreign used,272474.0,3500.0,imported,imported,petrol,automatic,"lagos state, ikeja"
1,6750000,"abuja (fct), garki 2",land rover,range rover,2012,white,nigerian used,102281.0,5000.0,registered,registered,petrol,automatic,"abuja (fct), garki 2"
2,50625000,"lagos state, lekki",toyota,sequoia,2018,black,foreign used,127390.0,5700.0,imported,imported,petrol,automatic,"lagos state, lekki"
3,3600000,"abuja (fct), lugbe district",toyota,corolla,2007,green,nigerian used,139680.0,1800.0,registered,registered,petrol,automatic,"abuja (fct), lugbe district"
4,3262500,"lagos state, isolo",mercedes-benz,m class,2005,silver,nigerian used,220615.0,3500.0,registered,imported,petrol,automatic,"lagos state, isolo"

In [23]:
# Changing the region names to their respective states
orig_region = {
    'lagos state, ikeja': 'lagos',
    'abuja (fct), garki 2': 'abuja',
    'lagos state, lekki': 'lagos',
    'abuja (fct), lugbe district': 'abuja',
    'lagos state, isolo': 'lagos',
    'abuja (fct), gwarinpa': 'abuja',
    'abuja (fct), kubwa': 'abuja',
    'lagos state, ikotun/igando': 'lagos',
    'lagos state, ikoyi': 'lagos',
    'abuja (fct), mararaba': 'abuja',
    'abuja (fct), jabi': 'abuja',
    'lagos state, ojodu': 'lagos',
    'lagos state, ajah': 'lagos',
    'oyo state, ibadan': 'oyo',
    'kwara state, ilorin east': 'kwara',
    'lagos state, amuwo-odofin': 'lagos',
    'lagos state, alimosho': 'lagos',
    'rivers state, port-harcourt': 'rivers',
    'delta state, oshimili south': 'delta',
    'lagos state, ipaja': 'lagos',
    'lagos state, ikorodu': 'lagos',
    'lagos state, mushin': 'lagos',
    'abuja (fct), katampe': 'abuja',
    'akwa ibom state, uyo': 'akwa ibom',
    'lagos state, surulere': 'lagos',
    'lagos state, ogba': 'lagos',
    'anambra state, onitsha': 'anambra',
    'lagos state, yaba': 'lagos',
    'lagos state, ibeju': 'lagos',
    'abuja (fct), wuse': 'abuja',
    'ogun state, ado-odo/ota': 'ogun',
    'lagos state, ilupeju': 'lagos',
    'lagos state, ifako-ijaiye': 'lagos',
    'lagos state, kosofe': 'lagos',
    'lagos state, magodo': 'lagos',
    'lagos state, ogudu': 'lagos',
    'imo state, owerri': 'imo',
    'kaduna state, kaduna / kaduna state': 'kaduna',
    'edo state, benin city': 'edo',
    'ondo state, akure': 'ondo',
    'lagos state, apapa': 'lagos',
    'lagos state, victoria island': 'lagos'
}

In [24]:
df['region'] = df['region'].map(orig_region)

In [25]:
df.head(2)

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission,car_city
0,12937500,lagos,lexus,es,2013,red,foreign used,272474.0,3500.0,imported,imported,petrol,automatic,"lagos state, ikeja"
1,6750000,abuja,land rover,range rover,2012,white,nigerian used,102281.0,5000.0,registered,registered,petrol,automatic,"abuja (fct), garki 2"

In [26]:
df['manufacturer'].unique()

array(['lexus', 'land rover', 'toyota', 'mercedes-benz', 'ford', 'acura',
       'honda', 'bmw', 'kia', 'volkswagen', 'nissan', 'chevrolet',
       'subaru', 'hyundai', 'volvo', 'mazda', 'peugeot', 'mitsubishi',
       'infiniti', 'jeep', 'audi', 'pontiac', 'changan', 'porsche',
       'dodge', 'citroen', 'maserati', 'chrysler', 'daihatsu', 'suzuki',
       'opel', 'renault', 'cadillac', 'mini', 'gac', 'isuzu', 'scion',
       'rover', 'aston martin', 'dongfeng', 'hummer', 'haima', 'lincoln',
       'jaguar', 'vauxhall', 'genesis', 'mercury'], dtype=object)

In [27]:
df['car_model'].nunique()

338

In [28]:
df['car_model'].unique()

array(['es', 'range rover', 'sequoia', 'corolla', 'm class', 'escape',
       'mdx', 'highlander', 'is', 'avalon', 'camry', 'gs', 'accord',
       'pilot', 'gx', '323i', 'rx 350', 'sorento', 'golf',
       'range rover evoque', 'land cruiser prado', 'civic', 'cr-v',
       'gl-class', 'edge', 'stream', 'altima', 'suburban', 'pathfinder',
       'outback', 'rav4', 'e220', 'matrix', 'e350', 'sonata', 'sienna',
       'c300', 'rondo', 'xc90', 'micra', 'venza', 'c350', 'element',
       'a-class', 'aveo', '3', '206', '407', 'jetta', 'avensis', 'rx 330',
       'cx-7', 'glk-class', 'rio', 'c200', 'e320', 'sportage', 'c280',
       'passat', '4-runner', 'santa fe', 'c180', 'lx', 'tacoma', 'focus',
       'tiguan', '325i', 'optima', 'range rover vogue', 'cerato',
       's-class', 'hilux', '6', 'outlander', 'elantra', 'fx35', 'sentra',
       'explorer', 'rx 300', 'solara', 'almera', 'c320', 'rx', 'rogue',
       'yaris', 'tundra', 'x1', 'xc70', 'wrangler', 'golf gti', 'c230',
       'fusion', 'a6', 'vibe', 'murano', 'creta', 'x3', 'titan', 'lr4',
       'gls-class', 'maxima', 'camaro', 'previa', 'tiida', 'zdx',
       'spacewagon', 'tl', 'torrent', '307', 'alsvin', 'ranger',
       'g-class', 'cx-9', 'c-class', 'crosstour', 'a4',
       'accord crosstour', 'cayenne', '408', '525i', '626', 'rdx',
       'xterra', 'harrier', 'tucson', 'hiace', 'compass', '1800', '607',
       'accent', '328i', 'x5', 'e200', 'slk-class', 'cs35', 'c240',
       'qx56', 'charger', '406', 'caliber', 'odyssey', 'x4', 'ecosport',
       'c4', 'clk', 'f-150', '5 series', 'primera', 'range rover sport',
       'b-class', 'ridgeline', 'frontier', '550i', 'county', 'qx80',
       'routan', 'levante', 'veloster', '535i', 'qx4', 'lr3', 'city',
       '300c', 'cla-class', 'gla 250', 'hijet', 'grand vitara', 'c270',
       '207', 'g35', 'ix35', 'land cruiser', 'touareg', 'equinox', 's60',
       's5', 'quest', 'glc-class', '3 series', 'galant', 'a3', 'zafira',
       'soul', 'r-class', 'laguna', 'captiva', 'c250', 'l200', 'cls',
       'grandeur', 'veracruz', 'q5', 'freestyle', 'azera', 'transporter',
       'caravan', 'carisma', 'c400', 'mohave', 'csx', 'cts', 'jazz',
       'ram', '320i', 'vitara', 'dzire', 'xc60', 'z4', 'x-trail',
       'cooper', 'q7', 'rx 400h', '530i', 'van', 'swift', 'jimny', 'alto',
       '190e', 'lancer', 'taurus', 's40', 'grand cherokee', 'ertiga',
       's-presso', 'mustang', 'orlando', 'asx', '323', 'ciaz',
       'discovery', 'durango', 'epica', 'trax', 'ls', 'cruze', 'astra',
       'uplander', 'baleno', 'lr2', 'g', 'sc', 'grand caravan', 'armada',
       'x6', '335i', '528i', 'mpv', 'fortuner', 'corolla verso',
       'transit', '318i', 'beetle', 'range rover velar', 'megane',
       'verso', 'h300', 'sunny', 'journey', 'cherokee', 'ga4', 'q50',
       'touran', 'trooper', 'every wagon', 'vectra', '200', 'fx', '301',
       'tc', 'malibu', '5', 'sharan', 'millenia', 'gs4', 'land', 'impala',
       'db9', 'trajet', 'lingzhi m3', 'grand', 'h3', 'coaster', 'e400',
       '7 series', 'sx4', 'v40', 'eclipse cross', 'forte', 'gs8',
       'escalade', 'navigator', 'qashqai', 'np300', 'magnum', 'versa',
       'ex', '230e', 'traverse', '308', 'c220', 'polo', 'liberty',
       'shuttle', 'sprinter', 'borrego', 'sedona', 'e250', 'xj',
       'tiburon', 'vivaro', 'ga3', 'tribeca', 'kremer', 'e-150', 'gs3',
       'clio', '520i', 'prius', 'e240', 'tsx', 'e300', 'rabbit',
       'tribute', 'pajero', 'avanza', 'pacifica', 'town&country', 'g80',
       'mariner', 'commander', 'challenger', 'cc', 's80', '300', 'shuma',
       's-type', 'fj cruiser', 'gle-class'], dtype=object)

In [29]:
df['color'].unique()

array(['red', 'white', 'black', 'green', 'silver', 'blue', 'ivory',
       'teal', 'gray', 'gold', 'beige', 'brown', 'matt black', 'purple',
       'off white', 'burgandy', 'orange', 'yellow', 'pink', nan],
      dtype=object)

In [30]:
df['car_condition'].unique()

array(['foreign used', 'nigerian used', 'brand new'], dtype=object)

In [31]:
df['selling_cond'].unique()

array(['imported', 'registered', 'brand new', nan], dtype=object)

In [32]:
df['bought_cond'].unique()

array(['imported', 'registered', 'brand new', nan], dtype=object)

In [33]:
# Checking if there is any difference in selling and bought condition columns
df[(df['selling_cond'] == 'imported') & (df['bought_cond'] == 'registered')]

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission,car_city
385,2625000,lagos,lexus,es,2004,purple,foreign used,176423.0,3300.0,imported,registered,petrol,automatic,"lagos state, ikorodu"
700,2100000,lagos,ford,edge,2008,black,foreign used,226968.0,3500.0,imported,registered,petrol,automatic,"lagos state, kosofe"
810,3675000,abuja,acura,tl,2009,blue,foreign used,170935.0,3500.0,imported,registered,petrol,automatic,"abuja (fct), lugbe district"
1247,2625000,kwara,toyota,corolla,2005,gray,foreign used,361650.0,1800.0,imported,registered,petrol,automatic,"kwara state, ilorin east"
1795,3990000,oyo,toyota,rav4,2008,red,foreign used,127064.0,2400.0,imported,registered,petrol,automatic,"oyo state, ibadan"
2154,1275000,kwara,toyota,sienna,2000,red,foreign used,758504.0,3000.0,imported,registered,petrol,automatic,"kwara state, ilorin east"

In [34]:
df[(df['selling_cond'] == 'imported') & (df['bought_cond'] == 'brand new')]

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission,car_city
235,2625000,abuja,infiniti,fx35,2008,black,foreign used,211242.0,3500.0,imported,brand new,petrol,automatic,"abuja (fct), jabi"
785,18900000,lagos,honda,cr-v,2018,gray,foreign used,62098.0,2400.0,imported,brand new,petrol,automatic,"lagos state, kosofe"
2095,21000000,lagos,aston martin,db9,2013,NaN,foreign used,NaN,NaN,imported,brand new,NaN,NaN,"lagos state, alimosho"
2330,5565000,rivers,mitsubishi,l200,2016,black,foreign used,99304.0,2200.0,imported,brand new,petrol,automatic,"rivers state, port-harcourt"

In [35]:
df[(df['selling_cond'] == 'registered') & (df['bought_cond'] == 'imported')]

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission,car_city
4,3262500,lagos,mercedes-benz,m class,2005,silver,nigerian used,220615.0,3500.0,registered,imported,petrol,automatic,"lagos state, isolo"
7,1721250,lagos,ford,escape,2005,ivory,nigerian used,246930.0,3000.0,registered,imported,petrol,automatic,"lagos state, ikeja"
9,18000000,lagos,toyota,highlander,2015,teal,nigerian used,130078.0,3500.0,registered,imported,petrol,automatic,"lagos state, lekki"
12,2812500,lagos,lexus,is,2006,black,nigerian used,259663.0,3500.0,registered,imported,petrol,automatic,"lagos state, lekki"
14,2137500,lagos,toyota,camry,2001,gray,nigerian used,155469.0,2200.0,registered,imported,petrol,automatic,"lagos state, ojodu"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2883,11250000,lagos,lexus,rx 350,2012,white,nigerian used,86028.0,3500.0,registered,imported,petrol,automatic,"lagos state, lekki"
2884,21375000,lagos,mercedes-benz,gle-class,2018,white,nigerian used,27354.0,3500.0,registered,imported,petrol,automatic,"lagos state, lekki"
2888,2250000,lagos,toyota,camry,2003,silver,nigerian used,304442.0,2400.0,registered,imported,petrol,automatic,"lagos state, lekki"
2890,1350000,lagos,honda,cr-v,1998,red,nigerian used,126955.0,2000.0,registered,imported,petrol,automatic,"lagos state, lekki"
2893,2600000,abuja,toyota,corolla,2005,white,nigerian used,289222.0,1800.0,registered,imported,petrol,automatic,"abuja (fct), lugbe district"

In [36]:
df[(df['selling_cond'] == 'registered') & (df['bought_cond'] == 'brand new')]

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission,car_city
10,4500000,lagos,toyota,corolla,2010,blue,nigerian used,74424.0,1800.0,registered,brand new,petrol,automatic,"lagos state, ikoyi"
119,9000000,lagos,kia,sorento,2015,gray,nigerian used,99188.0,2400.0,registered,brand new,petrol,automatic,"lagos state, kosofe"
150,15637500,lagos,toyota,land cruiser prado,2014,black,nigerian used,159645.0,3000.0,registered,brand new,petrol,automatic,"lagos state, lekki"
195,6825000,lagos,ford,escape,2018,gray,nigerian used,71001.0,2500.0,registered,brand new,petrol,automatic,"lagos state, ikorodu"
242,2700000,lagos,honda,accord,2012,silver,nigerian used,153681.0,2400.0,registered,brand new,petrol,automatic,"lagos state, isolo"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,3885000,akwa ibom,nissan,sentra,2013,black,nigerian used,112190.0,1800.0,registered,brand new,petrol,cvt,"akwa ibom state, uyo"
2686,2288000,lagos,toyota,avensis,2008,black,nigerian used,160845.0,2000.0,registered,brand new,petrol,automatic,"lagos state, lekki"
2760,3675000,oyo,kia,optima,2011,black,nigerian used,159081.0,2000.0,registered,brand new,petrol,automatic,"oyo state, ibadan"
2856,1554000,lagos,toyota,avensis,2005,green,nigerian used,198645.0,2400.0,registered,brand new,petrol,automatic,"lagos state, ikorodu"
2886,2250000,lagos,toyota,avensis,2008,gray,nigerian used,229675.0,2000.0,registered,brand new,petrol,automatic,"lagos state, lekki"

In [37]:
df[(df['selling_cond'] == 'brand new') & (df['bought_cond'] == 'registered')]

Empty DataFrame
Columns: [car_price, region, manufacturer, car_model, manufacturing_year, color, car_condition, mileage_km, engine_size, selling_cond, bought_cond, fuel_type, transmission, car_city]
Index: []

In [38]:
df[(df['selling_cond'] == 'brand new') & (df['bought_cond'] == 'imported')]

Empty DataFrame
Columns: [car_price, region, manufacturer, car_model, manufacturing_year, color, car_condition, mileage_km, engine_size, selling_cond, bought_cond, fuel_type, transmission, car_city]
Index: []

In [39]:
tbr = ['0','1','abc189gb']

In [40]:
df.head()

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission,car_city
0,12937500,lagos,lexus,es,2013,red,foreign used,272474.0,3500.0,imported,imported,petrol,automatic,"lagos state, ikeja"
1,6750000,abuja,land rover,range rover,2012,white,nigerian used,102281.0,5000.0,registered,registered,petrol,automatic,"abuja (fct), garki 2"
2,50625000,lagos,toyota,sequoia,2018,black,foreign used,127390.0,5700.0,imported,imported,petrol,automatic,"lagos state, lekki"
3,3600000,abuja,toyota,corolla,2007,green,nigerian used,139680.0,1800.0,registered,registered,petrol,automatic,"abuja (fct), lugbe district"
4,3262500,lagos,mercedes-benz,m class,2005,silver,nigerian used,220615.0,3500.0,registered,imported,petrol,automatic,"lagos state, isolo"

In [41]:
df.columns

Index(['car_price', 'region', 'manufacturer', 'car_model',
       'manufacturing_year', 'color', 'car_condition', 'mileage_km',
       'engine_size', 'selling_cond', 'bought_cond', 'fuel_type',
       'transmission', 'car_city'],
      dtype='object')

In [42]:
# dropping unnecessary columns
cols_to_drop = ['Unnamed: 0', 'car_id', 'trim', 'description', 'trim', 'drive_train', 'reg_city',
       'seat', 'num_cylinder', 'horse_power', 'body_build']

In [43]:
df.head(10)

,car_price,region,manufacturer,car_model,manufacturing_year,color,car_condition,mileage_km,engine_size,selling_cond,bought_cond,fuel_type,transmission,car_city
0,12937500,lagos,lexus,es,2013,red,foreign used,272474.0,3500.0,imported,imported,petrol,automatic,"lagos state, ikeja"
1,6750000,abuja,land rover,range rover,2012,white,nigerian used,102281.0,5000.0,registered,registered,petrol,automatic,"abuja (fct), garki 2"
2,50625000,lagos,toyota,sequoia,2018,black,foreign used,127390.0,5700.0,imported,imported,petrol,automatic,"lagos state, lekki"
3,3600000,abuja,toyota,corolla,2007,green,nigerian used,139680.0,1800.0,registered,registered,petrol,automatic,"abuja (fct), lugbe district"
4,3262500,lagos,mercedes-benz,m class,2005,silver,nigerian used,220615.0,3500.0,registered,imported,petrol,automatic,"lagos state, isolo"
5,4837500,abuja,lexus,es,2007,blue,nigerian used,347614.0,3500.0,registered,registered,petrol,automatic,"abuja (fct), gwarinpa"
6,4162500,abuja,lexus,es,2008,white,nigerian used,126841.0,3500.0,registered,registered,petrol,automatic,"abuja (fct), kubwa"
7,1721250,lagos,ford,escape,2005,ivory,nigerian used,246930.0,3000.0,registered,imported,petrol,automatic,"lagos state, ikeja"
8,4590000,lagos,acura,mdx,2011,blue,nigerian used,122734.0,3700.0,registered,registered,petrol,automatic,"lagos state, ikotun/igando"
9,18000000,lagos,toyota,highlander,2015,teal,nigerian used,130078.0,3500.0,registered,imported,petrol,automatic,"lagos state, lekki"

car city
Car age
average price per kilometer = avg_price_per_km
price per number of seats in car
price per number of cylinder in car
price per number of horse power

## Feature Engineering

In [44]:
# Dictionary mapping original region names to their respective cities extracted from the region description
city_region = {
    'lagos state, ikeja': 'ikeja',
    'abuja (fct), garki 2': 'garki 2',
    'lagos state, lekki': 'lekki',
    'abuja (fct), lugbe district': 'lugbe district',
    'lagos state, isolo': 'isolo',
    'abuja (fct), gwarinpa': 'gwarinpa',
    'abuja (fct), kubwa': 'kubwa',
    'lagos state, ikotun/igando': 'ikotun/igando',
    'lagos state, ikoyi': 'ikoyi',
    'abuja (fct), mararaba': 'mararaba',
    'abuja (fct), jabi': 'jabi',
    'lagos state, ojodu': 'ojodu',
    'lagos state, ajah': 'ajah',
    'oyo state, ibadan': 'ibadan',
    'kwara state, ilorin east': 'ilorin east',
    'lagos state, amuwo-odofin': 'amuwo-odofin',
    'lagos state, alimosho': 'alimosho',
    'rivers state, port-harcourt': 'port-harcourt',
    'delta state, oshimili south': 'oshimili south',
    'lagos state, ipaja': 'ipaja',
    'lagos state, ikorodu': 'ikorodu',
    'lagos state, mushin': 'mushin',
    'abuja (fct), katampe': 'katampe',
    'akwa ibom state, uyo': 'uyo',
    'lagos state, surulere': 'surulere',
    'lagos state, ogba': 'ogba',
    'anambra state, onitsha': 'onitsha',
    'lagos state, yaba': 'yaba',
    'lagos state, ibeju': 'ibeju',
    'abuja (fct), wuse': 'wuse',
    'ogun state, ado-odo/ota': 'ado-odo/ota',
    'lagos state, ilupeju': 'ilupeju',
    'lagos state, ifako-ijaiye': 'ifako-ijaiye',
    'lagos state, kosofe': 'kosofe',
    'lagos state, magodo': 'magodo',
    'lagos state, ogudu': 'ogudu',
    'imo state, owerri': 'owerri',
    'kaduna state, kaduna / kaduna state': 'kaduna / kaduna state',
    'edo state, benin city': 'benin city',
    'ondo state, akure': 'akure',
    'lagos state, apapa': 'apapa',
    'lagos state, victoria island': 'victoria island'
}

df['car_city'] = df['car_city'].map(city_region)

In [45]:
current_year = datetime.now().year

In [46]:
##Calculate Car Age
current_year = datetime.now().year
df['car_age'] = current_year - df['manufacturing_year']

# Data Cleaning

In [47]:
df.columns

Index(['car_price', 'region', 'manufacturer', 'car_model',
       'manufacturing_year', 'color', 'car_condition', 'mileage_km',
       'engine_size', 'selling_cond', 'bought_cond', 'fuel_type',
       'transmission', 'car_city', 'car_age'],
      dtype='object')

In [48]:
#handling missing values for mileage
df['mileage_km'].fillna(df['mileage_km'].mean(),inplace=True)

/tmp/ipython-input-1801343015.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mileage_km'].fillna(df['mileage_km'].mean(),inplace=True)

In [49]:
df['engine_size'].fillna(df['engine_size'].median(),inplace=True)

/tmp/ipython-input-1135505155.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['engine_size'].fillna(df['engine_size'].median(),inplace=True)

In [50]:
df['selling_cond'].fillna(df['selling_cond'].ffill(),inplace=True)

/tmp/ipython-input-1333597170.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['selling_cond'].fillna(df['selling_cond'].ffill(),inplace=True)

In [51]:
df['bought_cond'].fillna(df['bought_cond'].ffill(),inplace=True)

/tmp/ipython-input-2050491400.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bought_cond'].fillna(df['bought_cond'].ffill(),inplace=True)

In [52]:
df['transmission'].fillna(df['transmission'].ffill(),inplace=True)

/tmp/ipython-input-2128359020.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['transmission'].fillna(df['transmission'].ffill(),inplace=True)

In [53]:
df['fuel_type'].fillna(df['fuel_type'].bfill(),inplace=True)

/tmp/ipython-input-472081805.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fuel_type'].fillna(df['fuel_type'].bfill(),inplace=True)

In [54]:
df['color'].fillna(df['color'].ffill(),inplace=True)

/tmp/ipython-input-1307068096.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['color'].fillna(df['color'].ffill(),inplace=True)

In [55]:
df.isnull().sum()

car_price             0
region                0
manufacturer          0
car_model             0
manufacturing_year    0
color                 0
car_condition         0
mileage_km            0
engine_size           0
selling_cond          0
bought_cond           0
fuel_type             0
transmission          0
car_city              0
car_age               0
dtype: int64

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2892 entries, 0 to 2893
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   car_price           2892 non-null   int64
 1   region              2892 non-null   object
 2   manufacturer        2892 non-null   object
 3   car_model           2892 non-null   object
 4   manufacturing_year  2892 non-null   int64
 5   color               2892 non-null   object
 6   car_condition       2892 non-null   object
 7   mileage_km          2892 non-null   float64
 8   engine_size         2892 non-null   float64
 9   selling_cond        2892 non-null   object
 10  bought_cond         2892 non-null   object
 11  fuel_type           2892 non-null   object
 12  transmission        2892 non-null   object
 13  car_city            2892 non-null   object
 14  car_age             2892 non-null   int64
dtypes: float64(2), int64(3), object(10)
memory usage: 361.5+ KB

In [57]:
# Check the correlation between the price and other columns
correlation_matrix = df.corr(numeric_only=True)
print(correlation_matrix['car_price'].sort_values(ascending=False))

car_price             1.000000
manufacturing_year    0.579827
engine_size           0.057062
mileage_km           -0.027975
car_age              -0.579827
Name: car_price, dtype: float64

## One Hot Encoding

In [59]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
print(numerical_cols)

Index(['car_price', 'manufacturing_year', 'mileage_km', 'engine_size',
       'car_age'],
      dtype='object')

In [60]:
categorical_cols = df.select_dtypes(include=['object']).columns
print(categorical_cols)

Index(['region', 'manufacturer', 'car_model', 'color', 'car_condition',
       'selling_cond', 'bought_cond', 'fuel_type', 'transmission', 'car_city'],
      dtype='object')

In [61]:
endcoded_df = pd.get_dummies(df, columns=categorical_cols, drop_first=True).astype(int)
endcoded_df.head()

,car_price,manufacturing_year,mileage_km,engine_size,car_age,region_akwa ibom,region_anambra,region_delta,region_edo,region_imo,region_kaduna,region_kwara,region_lagos,region_ogun,region_ondo,region_oyo,region_rivers,manufacturer_aston martin,manufacturer_audi,manufacturer_bmw,manufacturer_cadillac,manufacturer_changan,manufacturer_chevrolet,manufacturer_chrysler,manufacturer_citroen,manufacturer_daihatsu,manufacturer_dodge,manufacturer_dongfeng,manufacturer_ford,manufacturer_gac,manufacturer_genesis,manufacturer_haima,manufacturer_honda,manufacturer_hummer,manufacturer_hyundai,manufacturer_infiniti,manufacturer_isuzu,manufacturer_jaguar,manufacturer_jeep,manufacturer_kia,manufacturer_land rover,manufacturer_lexus,manufacturer_lincoln,manufacturer_maserati,manufacturer_mazda,manufacturer_mercedes-benz,manufacturer_mercury,manufacturer_mini,manufacturer_mitsubishi,manufacturer_nissan,manufacturer_opel,manufacturer_peugeot,manufacturer_pontiac,manufacturer_porsche,manufacturer_renault,manufacturer_rover,manufacturer_scion,manufacturer_subaru,manufacturer_suzuki,manufacturer_toyota,manufacturer_vauxhall,manufacturer_volkswagen,manufacturer_volvo,car_model_190e,car_model_200,car_model_206,car_model_207,car_model_230e,car_model_3,car_model_3 series,car_model_300,car_model_300c,car_model_301,car_model_307,car_model_308,car_model_318i,car_model_320i,car_model_323,car_model_323i,car_model_325i,car_model_328i,car_model_335i,car_model_4-runner,car_model_406,car_model_407,car_model_408,car_model_5,car_model_5 series,car_model_520i,car_model_525i,car_model_528i,car_model_530i,car_model_535i,car_model_550i,car_model_6,car_model_607,car_model_626,car_model_7 series,car_model_a-class,car_model_a3,car_model_a4,car_model_a6,car_model_accent,car_model_accord,car_model_accord crosstour,car_model_almera,car_model_alsvin,car_model_altima,car_model_alto,car_model_armada,car_model_astra,car_model_asx,car_model_avalon,car_model_avanza,car_model_avensis,car_model_aveo,car_model_azera,car_model_b-class,car_model_baleno,car_model_beetle,car_model_borrego,car_model_c-class,car_model_c180,car_model_c200,car_model_c220,car_model_c230,car_model_c240,car_model_c250,car_model_c270,car_model_c280,car_model_c300,car_model_c320,car_model_c350,car_model_c4,car_model_c400,car_model_caliber,car_model_camaro,car_model_camry,car_model_captiva,car_model_caravan,car_model_carisma,car_model_cayenne,car_model_cc,car_model_cerato,car_model_challenger,car_model_charger,car_model_cherokee,car_model_ciaz,car_model_city,car_model_civic,car_model_cla-class,car_model_clio,car_model_clk,car_model_cls,car_model_coaster,car_model_commander,car_model_compass,car_model_cooper,car_model_corolla,car_model_corolla verso,car_model_county,car_model_cr-v,car_model_creta,car_model_crosstour,car_model_cruze,car_model_cs35,car_model_csx,car_model_cts,car_model_cx-7,car_model_cx-9,car_model_db9,car_model_discovery,car_model_durango,car_model_dzire,car_model_e-150,car_model_e200,car_model_e220,car_model_e240,car_model_e250,car_model_e300,car_model_e320,car_model_e350,car_model_e400,car_model_eclipse cross,car_model_ecosport,car_model_edge,car_model_elantra,car_model_element,car_model_epica,car_model_equinox,car_model_ertiga,car_model_es,car_model_escalade,car_model_escape,car_model_every wagon,car_model_ex,car_model_explorer,car_model_f-150,car_model_fj cruiser,car_model_focus,car_model_forte,car_model_fortuner,car_model_freestyle,car_model_frontier,car_model_fusion,car_model_fx,car_model_fx35,car_model_g,car_model_g-class,car_model_g35,car_model_g80,car_model_ga3,car_model_ga4,car_model_galant,car_model_gl-class,car_model_gla 250,car_model_glc-class,car_model_gle-class,car_model_glk-class,car_model_gls-class,car_model_golf,car_model_golf gti,car_model_grand,car_model_grand caravan,car_model_grand cherokee,car_model_grand vitara,car_model_grandeur,car_model_gs,car_model_gs3,car_model_gs4,car_model_gs8,car_model_gx,car_model_h3,car_model_h300,car_model_harrier,car_model_hiace,car_model_highlander,car_model_hijet,car_model_hilux,car_model_impala,car_model_is,car_model_ix35,car_model_jazz,car_model_jetta,car_model_jimny,car_model_journey,car_model_kremer,car_model_l200,car_model_laguna,car_model_lancer,car_model_land,car_model_land cruiser,car_model_land cruiser prado,car_model_levante,car_model_liberty,car_model_lingzhi m3,car_model_lr2,car_model_lr3,car_model_lr4,car_model_ls,car_model_lx,car_model_m class,car_model_magnum,car_model_malibu,car_model_mariner,car_model_matrix,car_model_maxima,car_model_mdx,car_model_megane,car_model_micra,car_model_millenia,car_model_mohave,car_model_mpv,car_model_murano,car_model_mustang,car_model_navigator,car_model_np300,car_model_odyssey,car_model_optima,car_model_orlando,car_model_outback,car_model_outlander,car_model_pacifica,car_model_pajero,car_model_passat,car_model_pathfinder,car_model_pilot,car_model_polo,car_model_previa,car_model_primera,car_model_prius,car_model_q5,car_model_q50,car_model_q7,car_model_qashqai,car_model_quest,car_model_qx4,car_model_qx56,car_model_qx80,car_model_r-class,car_model_rabbit,car_model_ram,car_model_range rover,car_model_range rover evoque,car_model_range rover sport,car_model_range rover velar,car_model_range rover vogue,car_model_ranger,car_model_rav4,car_model_rdx,car_model_ridgeline,car_model_rio,car_model_rogue,car_model_rondo,car_model_routan,car_model_rx,car_model_rx 300,car_model_rx 330,car_model_rx 350,car_model_rx 400h,car_model_s-class,car_model_s-presso,car_model_s-type,car_model_s40,car_model_s5,car_model_s60,car_model_s80,car_model_santa fe,car_model_sc,car_model_sedona,car_model_sentra,car_model_sequoia,car_model_sharan,car_model_shuma,car_model_shuttle,car_model_sienna,car_model_slk-class,car_model_solara,car_model_sonata,car_model_sorento,car_model_soul,car_model_spacewagon,car_model_sportage,car_model_sprinter,car_model_stream,car_model_suburban,car_model_sunny,car_model_swift,car_model_sx4,car_model_tacoma,car_model_taurus,car_model_tc,car_model_tiburon,car_model_tiguan,car_model_tiida,car_model_titan,car_model_tl,car_model_torrent,car_model_touareg,car_model_touran,car_model_town&country,car_model_trajet,car_model_transit,car_model_transporter,car_model_traverse,car_model_trax,car_model_tribeca,car_model_tribute,car_model_trooper,car_model_tsx,car_model_tucson,car_model_tundra,car_model_uplander,car_model_v40,car_model_van,car_model_vectra,car_model_veloster,car_model_venza,car_model_veracruz,car_model_versa,car_model_verso,car_model_vibe,car_model_vitara,car_model_vivaro,car_model_wrangler,car_model_x-trail,car_model_x1,car_model_x3,car_model_x4,car_model_x5,car_model_x6,car_model_xc60,car_model_xc70,car_model_xc90,car_model_xj,car_model_xterra,car_model_yaris,car_model_z4,car_model_zafira,car_model_zdx,color_black,color_blue,color_brown,color_burgandy,color_gold,color_gray,color_green,color_ivory,color_matt black,color_off white,color_orange,color_pink,color_purple,color_red,color_silver,color_teal,color_white,color_yellow,car_condition_foreign used,car_condition_nigerian used,selling_cond_imported,selling_cond_registered,bought_cond_imported,bought_cond_registered,fuel_type_electric,fuel_type_hybrid,fuel_type_petrol,transmission_automatic,transmission_cvt,transmission_manual,car_city_ajah,car_city_akure,car_city_alimosho,car_city_amuwo-odofin,car_city_apapa,car_city_benin city,car_city_garki 2,car_city_gwarinpa,car_city_ibadan,car_city_ibeju,car_city_ifako-ijaiye,car_city_ikeja,car_city_ikorodu,car_city_ikotun/igando,car_city_ikoyi,car_city_ilorin east,car_city_ilupeju,car_city_ipaja,car_city_isolo,car_city_jabi,car_city_kaduna / kaduna state,car_city_katampe,car_city_kosofe,car_city_kubwa,car_city_lekki,car_city_lugbe district,car_city_magodo,car_city_mararaba,car_city_mushin,car_city_ogba,car_city_ogudu,car_city_ojodu,car_city_onitsha,car_city_oshimili south,car_city_owerri,car_city_port-harcourt,car_city_surulere,car_city_uyo,car_city_victoria island,car_city_wuse,car_city_yaba
0,12937500,2013,272474,3500,12,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,6750000,2012,102281,5000,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,50625000,2018,127390,5700,7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3600000,2007,139680,1800,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,3262500,2005,220615,3500,20,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Prepare data for modeling

In [98]:
from sklearn.model_selection import train_test_split

X = endcoded_df.drop('car_price', axis=1)
y = endcoded_df['car_price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=87)

## Train and evaluate linear regression model

Train a Linear Regression model on the training data and evaluate its performance on the testing data.

In [99]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Instantiate and train the Linear Regression model
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_lr = lr_model.predict(X_test)

# Evaluate the model
mae_lr = mean_absolute_error(y_test, y_pred_lr)
mse_lr = mean_squared_error(y_test, y_pred_lr)
r2_lr = r2_score(y_test, y_pred_lr)

# Print the evaluation metrics
print(f"Linear Regression Model Performance:")
print(f"Mean Absolute Error (MAE): {mae_lr}")
print(f"Mean Squared Error (MSE): {mse_lr}")
print(f"R-squared (R2): {r2_lr}")
print(f"Score: {lr_model.score(X_test, y_test)}")

Linear Regression Model Performance:
Mean Absolute Error (MAE): 2275826.074506074
Mean Squared Error (MSE): 25888772295498.918
R-squared (R2): 0.18757680906933538
Score: 0.18757680906933538

## Train and evaluate Decision Tree Regressor model

Train a Decision Tree Regressor model on the training data and evaluate its performance on the testing data.

In [100]:
from sklearn.tree import DecisionTreeRegressor

# Instantiate and train the Decision Tree Regressor model
dt_model = DecisionTreeRegressor(random_state=87)
dt_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_dt = dt_model.predict(X_test)

# Evaluate the model
mae_dt = mean_absolute_error(y_test, y_pred_dt)
mse_dt = mean_squared_error(y_test, y_pred_dt)
r2_dt = r2_score(y_test, y_pred_dt)

# Print the evaluation metrics
print(f"Decision Tree Regressor Model Performance:")
print(f"Mean Absolute Error (MAE): {mae_dt}")
print(f"Mean Squared Error (MSE): {mse_dt}")
print(f"R-squared (R2): {r2_dt}")
print(f"Score: {dt_model.score(X_test, y_test)}")

Decision Tree Regressor Model Performance:
Mean Absolute Error (MAE): 1739134.7914746543
Mean Squared Error (MSE): 12664394959435.268
R-squared (R2): 0.6025748905080575
Score: 0.6025748905080575

## Train and evaluate Random Forest Regressor model

Train a Random Forest Regressor model on the training data and evaluate its performance on the testing data.

In [101]:
from sklearn.ensemble import RandomForestRegressor

# Instantiate and train the Random Forest Regressor model
rf_model = RandomForestRegressor(random_state=87)
rf_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_rf = rf_model.predict(X_test)

# Evaluate the model
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

# Print the evaluation metrics
print(f"Random Forest Regressor Model Performance:")
print(f"Mean Absolute Error (MAE): {mae_rf}")
print(f"Mean Squared Error (MSE): {mse_rf}")
print(f"R-squared (R2): {r2_rf}")
print(f"Score: {rf_model.score(X_test, y_test)}")

Random Forest Regressor Model Performance:
Mean Absolute Error (MAE): 1311022.3408179723
Mean Squared Error (MSE): 7998573334065.845
R-squared (R2): 0.7489944136097757
Score: 0.7489944136097757

## Train and evaluate Gradient Boosting Regressor model

Train a Gradient Boosting Regressor model on the training data and evaluate its performance on the testing data.

In [102]:
from sklearn.ensemble import GradientBoostingRegressor

# Instantiate and train the Gradient Boosting Regressor model
gbr_model = GradientBoostingRegressor(random_state=87)
gbr_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_gbr = gbr_model.predict(X_test)

# Evaluate the model
mae_gbr = mean_absolute_error(y_test, y_pred_gbr)
mse_gbr = mean_squared_error(y_test, y_pred_gbr)
r2_gbr = r2_score(y_test, y_pred_gbr)

# Print the evaluation metrics
print(f"Gradient Boosting Regressor Model Performance:")
print(f"Mean Absolute Error (MAE): {mae_gbr}")
print(f"Mean Squared Error (MSE): {mse_gbr}")
print(f"R-squared (R2): {r2_gbr}")
print(f"Score: {gbr_model.score(X_test, y_test)}")

Gradient Boosting Regressor Model Performance:
Mean Absolute Error (MAE): 1404532.4370192608
Mean Squared Error (MSE): 8100007431901.521
R-squared (R2): 0.7458112803003927
Score: 0.7458112803003927

## Train and evaluate XGBoost Regressor model

Train an XGBoost Regressor model on the training data and evaluate its performance on the testing data.

In [103]:
import xgboost as xgb

# Instantiate and train the XGBoost Regressor model
xgb_model = xgb.XGBRegressor(random_state=87)
xgb_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_xgb = xgb_model.predict(X_test)

# Evaluate the model
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
r2_xgb = r2_score(y_test, y_pred_xgb)

# Print the evaluation metrics
print(f"XGBoost Regressor Model Performance:")
print(f"Mean Absolute Error (MAE): {mae_xgb}")
print(f"Mean Squared Error (MSE): {mse_xgb}")
print(f"R-squared (R2): {r2_xgb}")
print(f"Score: {xgb_model.score(X_test, y_test)}")

XGBoost Regressor Model Performance:
Mean Absolute Error (MAE): 1357270.25
Mean Squared Error (MSE): 9041987239936.0
R-squared (R2): 0.7162507176399231
Score: 0.7162507176399231

## Compare model performance

Compare the performance of all trained models using appropriate evaluation metrics.

In [104]:
# Create a dictionary to store the performance metrics
performance_metrics = {
    'Model': ['Linear Regression', 'Decision Tree Regressor', 'Random Forest Regressor', 'Gradient Boosting Regressor', 'XGBoost Regressor'],
    'MAE': [mae_lr, mae_dt, mae_rf, mae_gbr, mae_xgb],
    'MSE': [mse_lr, mse_dt, mse_rf, mse_gbr, mse_xgb],
    'R2 Score': [r2_lr, r2_dt, r2_rf, r2_gbr, r2_xgb],
    'Score': [lr_model.score(X_test, y_test), dt_model.score(X_test, y_test), rf_model.score(X_test, y_test), gbr_model.score(X_test, y_test), xgb_model.score(X_test, y_test)]
}

# Create a DataFrame from the dictionary
performance_df = pd.DataFrame(performance_metrics)

# Print the performance DataFrame
print("Model Performance Comparison:")
display(performance_df)

Model Performance Comparison:

                         Model           MAE           MSE  R2 Score     Score
0            Linear Regression  2.275826e+06  2.588877e+13  0.187577  0.187577
1      Decision Tree Regressor  1.739135e+06  1.266439e+13  0.602575  0.602575
2      Random Forest Regressor  1.311022e+06  7.998573e+12  0.748994  0.748994
3  Gradient Boosting Regressor  1.404532e+06  8.100007e+12  0.745811  0.745811
4            XGBoost Regressor  1.357270e+06  9.041987e+12  0.716251  0.716251